<main>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">XIGOAirlines</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="center divmain">
    <div class="title">Passenger travel details</div>

    <div class="container-fluid py-3">
      <div class="row justify-content-center my-5">
        <div class="col-4">
          <form *ngIf=!this.formValid [formGroup]="reactiveForm" #form="ngForm">
            <div class="row">
              <div class="col mb-2">
                <div class="error" *ngIf="this.formSubmit && !this.formValid " color="red">
                  <span *ngFor="let error of formErrror" color="red"> *{{error  |titlecase}} <br></span>
                </div>
                <!-- <div *ngIf="reactiveForm.control['date'].errors?.['required']">Date is required.</div> -->
                <label for=" date" class="form-label">Travel date:</label>
              
                <input id="requestdate" type="date" formControlName="date" required minlength="1"
                  maxlength="250" class="form-control form-control-sm dateField" [max]="maxDate | date:'yyyy-MM-dd'" />
              </div>
            </div>
            <div class="row">
              <div class="col mb-2">
                <label for="name" class="form-label">Origin From:</label>
                <input list="browsers1" name="browser1" formControlName="origin" autocomplete="on"
                  class="form-control form-control-sm fromAirport">
                <datalist id="browsers1">
                  <option *ngFor="let item of airportData$ | async" [value]="item.airport.name">
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="col mb-2">
                <label for="name" class="form-label">Departure to:</label>
                <input list="browsers" name="browser" formControlName="departure" oninput="validity.valid||(value='');"
                  class="form-control form-control-sm toAirport">
                <datalist id="browsers">
                  <option *ngFor="let item of airportData$ | async" [value]="item.airport.name">
                </datalist>
              </div>
            </div>

            <div class="row">
              <div class="col mb-2">
                <label for="itemCount" class="form-label">No of Baggage:</label>
                <input type="number" formControlName="baggage" class="form-control form-control-sm baggageNo" min="1" step="1"
                  oninput="validity.valid||(value='');">
              </div>
            </div>

            <div class="row">
              <div class="col mb-2">
                <label for="email" class="form-label">
                  <div class="span12" style="margin-left: 40px;">Description of damage or missing property
                    <div class="span1" style="margin-left:0px;"> <label class="control-label" for="currency1">Currency:
                      </label>
                    </div>
                    <div style="color: red; font-size: 15px; font-weight: bold;"> *Please declare the cost in the same
                      currency.
                      <select name="currency1" id="currency1" formControlName="currency"
                        class="form-control form-control-sm currencyInput">
                        <option class="optionList" *ngFor="let item of currencyFormat$ | async" [value]="item">{{item}}</option>
                      </select>
                    </div>
                  </div>
                </label>

                <div *ngFor="let u of $any(items.controls); index as i">
                  <div class="span12 td1">
                    <div class="span1"> <label class="control-label" for="item1">Item: </label> <input id="item1"
                        class="form-control itemName" name="item1" type="text" [formControl]="$any(u.controls['item'])"> </div>
                    <div class="span1"> <label class="control-label" for="desc1">Quantity: </label>
                      <input id="desc1" onlyNumber min="1" class="form-control quantity" name="desc1" type="number"
                        [formControl]="$any(u.controls['quantity'])" oninput="validity.valid||(value='');">
                    </div>

                    <div class="span1"> <label class="control-label" for="cost1">Cost: </label>
                      <input id="cost1" type="number" class="form-control cost" name="cost1" (change)="calculate_cost()"
                        min="0" [formControl]="$any(u.controls['cost'])"
                        oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false">

                    </div>
                    <button class="btnsItem" *ngIf="$any(items.controls).length>1" (click)="removeItem(i)">Delete
                      item</button>
                    <button type="button" (click)="addItem()">Add new item</button>
                  </div>

                </div>

              </div>
            </div>
            <div class="row">
              <div class="col mb-2">
                <label for="password" class="form-label">Total claim amount:</label>
                <span>
                  {{reactiveForm.get('currency')?.value}}
                  {{reactiveForm.get('claim')?.value}}

                </span>
              </div>
            </div>
            <div class="row">
              <div class="col mb-2 d-grid">
                <button type="button" class="btn btn-sm btn-primary submit" (click)="validate()">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div>
          <table *ngIf=formValid class="table">
            <thead>
              <tr>
                <th class="text-left" *ngFor="let item of user | keyvalue">
                  {{item.key | uppercase}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let item of user | keyvalue">
                  <span *ngIf="isObject(item.value); else printVal">


                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-left" *ngFor="let item1 of user.items[0] | keyvalue">
                            {{item1.key | uppercase}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of user.items">
                          <td *ngFor="let item1 of item | keyvalue">
                            {{item1.value}}

                          </td>
                        </tr>

                      </tbody>
                    </table>


                  </span>
                  <ng-template #printVal>
                    <span> {{item.value}} </span>
                  </ng-template>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>